
# File         : .env
# Description  : Control app
# Server       :
# Folder       : <Front End docker>/
# Auth         : Mina Milad. 2025
# ============================================================================
# Used by Fron end app, to call APIs
# API_BASE=https://backend_url:8443

# ----------------------------------------------------------------------------
# Section Description  : Ports used by Nginx Docker
# Used by              : docker-compose.yaml
# Note                 : Need to have unique for server
NGINX_HTTP_FE=80
NGINX_HTTPS_FE=443

# ----------------------------------------------------------------------------
# Section Description  : Folder used for front end files
# Used by              : <SofiaGPT Docker>/gpt_fe_docker/docker-compose.yaml
#                      : nginx
# Note                 : HTML_ROOT will be:/var/www/html/${FRON_END_FOLDER}

FRONT_END_FOLDER=dist

# Select this for gpt
SRV_DOMAIN=gpt.ensofia.app

# ----------------------------------------------------------------------------
# Section Description  : Certificate Referance
# Used by              : <SofiaGPT Docker>/gpt_fe_docker/docker-compose.yaml
# Note                 : certificate files

DOMAIN_CER=mina_oct25.crt
DOMAIN_KEY=mina_oct25.key
